/* ============================== GENERAL STYLES ============================== */
:root {
  --iris-primary-brand: #4d5ae5;
  --ocean-pressed-state: #404bbf;
  --navy-blue-dark: #2e2f42;
  --green-success: #31d0aa;
  --slate-text: #434455;
  --light-slate-subtle-text: #8e8f99;
  --cornflower-accent: #e7e9fc;
  --cloud-light: #f4f4fd;
  --white-background: #ffffff;
  --dairy-modal-background: #fcfcfc;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-background);
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============================== HEADER ============================== */

/* ============================== MOBILE ============================== */
@media screen and (max-width: 767px) {
  .nav-list,
  .adress {
    display: none;
  }
  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 428px;
    padding-top: 24px;
    padding-bottom: 22px;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-background);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;
}
.mobile-menu-container {
  position: relative;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-open-btn {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  line-height: 0;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 32px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.mobile-menu-container {
  height: 100%;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-list-mobile-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
}
.nav-list-mobile-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--navy-blue-dark);
}
.nav-list-mobile-contact {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}
.nav-list-mobile-network {
  display: flex;
  justify-content: space-between;
  max-width: 328px;
  margin: 0;
}
.contact-mobile {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--iris-primary-brand);
}
.contact-email-mobile {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate-text);
}
.nav-mobile-color {
  color: var(--ocean-pressed-state);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris-primary-brand);
  text-transform: uppercase;
  display: inline-block;
}
.logo-web {
  color: var(--navy-blue-dark);
}
.mobile-menu-open-btn-icon {
  stroke: var(--navy-blue-dark);
}
.page-header {
  border: solid 1px var(--cornflower-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* =============================== TABLET ==============================*/
@media screen and (max-width: 1158px) {
  .nav-list-pseudo:after {
    position: absolute;
    bottom: -25px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean-pressed-state);
    color: var(--ocean-pressed-state);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .nav-list {
    display: flex;
    column-gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .header-nav {
    display: flex;
    column-gap: 120px;
    padding-top: 24px;
    padding-bottom: 22px;
  }
}
.nav-list-item {
  position: relative;
  color: var(--navy-blue-dark);
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  color: var(--slate-text);
  gap: 12px;
}

/* ============================== DESCTOP ============================== */
@media screen and (min-width: 1158px) {
  .header-nav {
    column-gap: 0;
  }
  .logo {
    margin-right: 76px;
  }
  .contact {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-text);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue-dark);
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-portfolio-link {
    color: var(--ocean-pressed-state);
  }
  .nav-list-item:hover,
  .nav-list-item:focus {
    color: var(--ocean-pressed-state);
  }
  .adress {
    font-style: normal;
  }
  .contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-text);
    display: flex;
    align-items: center;
    gap: 40px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact:hover,
  .contact:focus {
    color: var(--ocean-pressed-state);
  }
  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .page-header {
    border-bottom: 1px solid var(--cornflower-accent);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .adress {
    padding-bottom: 0;
  }
  .nav-list-pseudo:after {
    position: absolute;
    bottom: -2px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean-pressed-state);
    color: var(--ocean-pressed-state);
  }
}
.header-studio-link {
  color: var(--ocean-pressed-state);
}

/* ============================== MAIN SECTION ============================== */

/* ============================== HERO ============================== */
/* ============================== MOBILE ============================== */
@media screen and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mobile.jpg);
  }
}
@media screen and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mobile.webp);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mobile@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mobile@2x.webp);
  }
}
@media screen and (max-width: 767px) {
  .container-hero {
    padding: 0;
  }
  .hero-section {
    max-width: 428px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--navy-blue-dark);
    text-align: center;
    padding: 112px 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal {
    max-width: 100%;
  }
}
.main-title {
  text-align: center;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--white-background);
  max-width: 496px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.order-service-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background: var(--iris-primary-brand);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 129px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============================== TABLET ============================== */
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-tablet.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-tablet.webp);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-tablet@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-tablet@2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    width: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--navy-blue-dark);
    text-align: center;
    padding: 112px 136px;
    margin-left: auto;
    margin-right: auto;
  }
  .order-service-btn {
    min-width: 169px;
  }
  .main-title {
    font-size: 56px;
  }
}
.order-service-btn:hover,
.order-service-btn:focus {
  background: var(--ocean-pressed-state);
}

/* =============================== DESCTOP ==============================*/
@media screen and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office.webp);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office@2x.webp);
  }
}
@media screen and (min-width: 1158px) {
  .hero-section {
    min-width: 1158px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--navy-blue-dark);
    text-align: center;
    padding: 188px 136px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* =============================== OUR GOALS ==============================*/

/* =============================== MOBILE ==============================*/
@media screen and (max-width: 767px) {
  .goals-list {
    display: flex;
    flex-direction: column;
  }
  .icon-goals-list {
    display: none;
  }
  .icon-goals {
    display: none;
  }
  .goals-list-item {
    flex-basis: calc((100% - 216px) / 4);
  }
  .goals {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--navy-blue-dark);
    margin-bottom: 8px;
  }
  .goals-description {
    display: block;
    max-width: 396px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-text);
  }
  .goals-list {
    display: flex;
    gap: 72px;
  }
}

/* =============================== TABLET ==============================*/
@media screen and (min-width: 768px) {
  .icon-goals-list {
    display: none;
  }
  .goals-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 72px;
    column-gap: 24px;
  }
  .goals-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .goals {
    text-align: start;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--navy-blue-dark);
    margin-bottom: 8px;
  }
  .goals-description {
    display: block;
    max-width: 396px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-text);
  }
}

/* =============================== DESCTOP ==============================*/
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .icon-goals-list {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--cloud-light);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .goals-list {
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;
  }
  .goals {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-dark);
    margin-bottom: 8px;
  }
  .goals-description {
    display: block;
    max-width: 396px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-text);
  }
}

/* =============================== WORK EXAMPLES ==============================*/

/* =============================== DESCTOP ==============================*/
@media screen and (max-width: 1158px) {
  .work-examples-section {
    display: none;
  }
}
.work-examples-section {
  padding-bottom: 120px;
}
.work-examples-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-dark);
  margin-bottom: 72px;
}
.work-examples-list {
  display: flex;
  gap: 24px;
}

/* =============================== OUR TEAM ==============================*/

/* =============================== MOBILE ==============================*/
.our-team {
  background-color: var(--cloud-light);
}
.our-team-list {
  max-width: 264px;
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin-left: auto;
  margin-right: auto;
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-dark);
  margin-bottom: 72px;
}
.our-team-photo {
  display: block;
  max-width: 100%;
  height: auto;
}
.our-team-item {
  background-color: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-dark);
  background-color: var(--white-background);
  text-align: center;
  margin-bottom: 8px;
}
.our-team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-text);
  background-color: var(--white-background);
  text-align: center;
  margin-bottom: 8px;
}
.our-team-card {
  padding: 32px 0;
}
.social-network-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-network-item {
  width: 40px;
  height: 40px;
}
.social-network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris-primary-brand);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network-link:hover,
.social-network-link:focus {
  background-color: var(--ocean-pressed-state);
}
.social-network-icon {
  fill: var(--cloud-light);
}
/* =============================== TABLET ==============================*/
@media screen and (min-width: 768px) {
  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 64px;
    max-width: 768px;
  }
}

/* =============================== DESCTOP ==============================*/
@media screen and (min-width: 1158px) {
  .our-team-list {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
    row-gap: 64px;
    max-width: 1158px;
  }
}

/* =============================== OUR CLIENTS ==============================*/

/* =============================== MOBILE ==============================*/
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-dark);
  margin-bottom: 72px;
}
.customers-list-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  row-gap: 72px;
  align-items: center;
  justify-content: center;
}
.customers-list {
  width: 168px;
  height: 88px;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate-subtle-text);
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate-subtle-text);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean-pressed-state);
  color: var(--ocean-pressed-state);
}
.icon-customers-list {
  fill: currentColor;
}

/* =============================== TABLET ==============================*/
@media screen and (min-width: 768px) {
  .customers-list-logo {
    gap: 24px;
  }
}

/* =============================== DESCTOP ==============================*/
@media screen and (min-width: 1158px) {
  .customers-list-logo {
    flex-wrap: nowrap;
  }
}

/* =============================== FOOTER ==============================*/

/* =============================== MOBILE ==============================*/
.footer {
  background-color: var(--navy-blue-dark);
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-description-media {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 0;
}
.footer-description {
  text-align: start;
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-light);
  max-width: 264px;
  margin-left: auto;
  margin-right: auto;
}
.logo-web-footer {
  color: var(--cloud-light);
}
.footer-logo-link {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
}
.footer-description-container {
  text-align: center;
}
.footer-social-network-conteiner {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}
.social-media-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
}
.social-network-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-network-item {
  width: 40px;
  height: 40px;
}
.footer-social-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris-primary-brand);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-network-link:hover,
.footer-social-network-link:focus {
  background-color: var(--green-success);
}
.footer-social-network-icon {
  fill: var(--cloud-light);
}
.footer-subscribe-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.subscribe-title {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
}
.footer-label-email {
  display: flex;
}
.footer-contact-form-input {
  width: 398px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: transparent;
  border: 1px solid var(--white-background);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-contact-form-input::placeholder {
  color: var(--white-background);
}
.footer-contact-form-input:focus,
.footer-contact-form-input:hover {
  outline: none;
  border: 1px solid var(--white-background);
}
.subscribe-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--iris-primary-brand);
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--green-success);
}
.subscribe-icon-send {
  margin-left: 16px;
  fill: var(--white-background);
}
.footer-subscribe-tex-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
}
.footer-email-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* =============================== TABLET ==============================*/
@media screen and (min-width: 768px) {
  .footer-container {
    max-width: fit-content;
    gap: 72px;
  }
  .footer-description-media {
    flex-direction: row;
    gap: 24px;
  }
  .footer-description-container {
    text-align: start;
  }
  .footer-social-network-conteiner {
    margin: 0;
  }
  .social-media-title {
    text-align: start;
  }
  .subscribe-title {
    justify-content: start;
  }
  .footer-email-form {
    flex-direction: row;
  }

  .footer-contact-form-input {
    width: 264px;
  }
  .subscribe-btn {
    margin: 0;
  }
}

/* =============================== DESCTOP ==============================*/
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    flex-direction: row;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
    padding-left: 16px;
    gap: 80px;
  }
  .footer-description-media {
    gap: 120px;
  }
}

/* =============================== BACKDROP ==============================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  background-color: var(--dairy-modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: var(--cornflower-accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--ocean-pressed-state);
  border: none;
  fill: var(--white-background);
}
.modal-close-icon {
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.contact-form-field-wrapper {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-subtle-text);
}
.contact-form-input-item {
  margin-bottom: 8px;
}
.contact-form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue-dark);
}
.contact-form-field-desc {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  color: var(--light-slate-subtle-text);
}
.contact-form-box {
  position: relative;
}
.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus {
  outline: none;
  border: 1px solid var(--iris-primary-brand);
}
.contact-form-input:focus + .contact-form-input-icon {
  fill: var(--iris-primary-brand);
}
.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-bottom: 8px;
}
.contact-form-message {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.contact-form-message:focus {
  outline: none;
  border: 1px solid var(--iris-primary-brand);
}
.contact-form-checkbox-wrapper {
  align-items: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-subtle-text);
}
.textarea-box {
  margin-bottom: 16px;
}
.textarea-item {
  margin-bottom: 24px;
}
.contact-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  fill: transparent;
}
.contact-form-checkbox:checked
  + .contact-form-checkbox-wrapper
  > .contact-form-own-checkbox
  > .contakt-form-checkmarc-icon {
  opacity: 1;
  border-color: var(--ocean-pressed-state);
}
.contact-form-checkbox:checked
  + .contact-form-checkbox-wrapper
  > .contact-form-own-checkbox {
  background-color: var(--ocean-pressed-state);
  border: none;
  fill: var(--white-background);
  border-color: var(--ocean-pressed-state);
}
.contakt-form-checkmarc-icon {
  opacity: 0;
}
.privacy-policy {
  color: var(--iris-primary-brand);
}
.contact-form-submit {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background: var(--iris-primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-submit:hover,
.contact-form-submit:focus {
  background: var(--ocean-pressed-state);
}

/* =============================== PORTFOLIO ==============================*/

/* =============================== MOBILE ==============================*/
/* .page-header-container {
  width: 100%;
  
} */
@media screen and (max-width: 767px) {
  .project-item {
    max-width: 100%;
  }
  .project-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
}
.main-section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.list-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  column-gap: 16px;
  margin-bottom: 48px;
}
.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris-primary-brand);
  background: var(--cloud-light);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid var(--cornflower-accent);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-background);
  background: var(--ocean-pressed-state);
  border: 1px solid transparent;
}
.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-dark);
  margin-bottom: 8px;
}
.project-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-text);
}

.project-link {
  display: block;
  width: fit-content;
  transition: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translate(0, 0);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.project-container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-accent);
  border-top: none;
}
/* =============================== TABLET ==============================*/
@media screen and (min-width: 768px) {
  .main-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .list-btn {
    justify-content: center;
    margin-bottom: 64px;
  }
  .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    column-gap: 24px;
  }
  .project-item {
    width: calc((100% - 48px) / 2);
    max-width: 100%;
  }
}

/* =============================== DESCTOP ==============================*/
@media screen and (min-width: 1158px) {
  .main-section {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .project-item {
    width: calc((100% - 48px) / 3);
    max-width: 100%;
  }
}
/* =============================== OVERLAY ==============================*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 40px 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--iris-primary-brand);
  color: var(--cloud-light);
  transform: translate(0%, 100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
