.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
  display: block;
}

:root {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ==============================header=============================== */

/* =============================== MOBILE ==============================*/

@media screen and (max-width: 767px) {
  .nav-list,
  .adress {
    display: none;
  }
  .page-header-container {
    padding-top: 24px;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-menu-container {
    position: relative;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-open-btn {
    border: none;
    margin: 0;
    padding: 0;
    background-color: teal;
    line-height: 0;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  .mobile-menu-container {
    height: 100%;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-list-mobile-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-list-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
  }
  .nav-list-mobile-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .nav-list-mobile-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
  }
  .nav-list-mobile-network {
    display: flex;
    justify-content: space-between;
    max-width: 328px;
    margin: 0;
  }
  .contact-mobile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #4d5ae5;
  }
  .contact-email-mobile {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: inline-block;
}

.logo-web {
  color: #2e2f42;
}

/* =============================== TABLET ==============================*/
@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .nav-list {
    display: flex;
    column-gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .header-nav {
    display: flex;
    column-gap: 120px;
    padding-top: 24px;
    padding-bottom: 22px;
  }
}

.nav-list-item {
  position: relative;
  color: #2e2f42;
}

.nav-list-pseudo:after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  font-size: 10px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  color: #404bbf;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 16px;
}

.contact {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  color: #434455;
  gap: 12px;
}

/* ============================== DESCTOP ============================== */
@media screen and (min-width: 1158px) {
  .header-nav {
    column-gap: 0;
  }
  .logo {
    margin-right: 76px;
  }

  .contact {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-studio-link {
    color: #404bbf;
  }

  .header-portfolio-link {
    color: #404bbf;
  }
  .nav-list-item:hover,
  .nav-list-item:focus {
    color: #404bbf;
  }

  .adress {
    font-style: normal;
  }
  .contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    align-items: center;
    gap: 40px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact:hover,
  .contact:focus {
    color: #404bbf;
  }

  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .page-header {
    border-bottom: 1px solid#e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .adress {
    padding-bottom: 0;
  }
}
/* ==============================MAIN SECTION=============================== */

/* ==============================hero=============================== */
@media screen and (max-width: 768px) {
  .container-hero {
    padding: 0;
  }
  .hero-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mobile.png);
    background-color: #2e2f42;
    text-align: center;
    padding: 112px 0 112px 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.main-title {
  text-align: center;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.order-service-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 129px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* =============================== TABLET ==============================*/
@media screen and (max-width: 1158px) {
  .hero-section {
    max-width: 1158px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-tablet.jpg);
    background-color: #2e2f42;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    margin-left: auto;
    margin-right: auto;
  }
}

.order-service-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus {
  background: #404bbf;
}

/* =============================== DESCTOP ==============================*/

@media screen and (min-width: 1158px) {
  .hero-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office.jpg);
    background-color: #2e2f42;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* @media screen and (min-device-pixel-ratio: 2) and (min-width: 1168px),
  screen and (min-resolution: 192dpi) and (min-width: 1168px),
  screen and (min-resolution: 2dppx) and (min-width: 1168px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office@2x.jpg);
  }
} */

/* ==============================our goals=============================== */

/* =============================== MOBILE ==============================*/
@media screen and (max-width: 767px) {
  .goals-list {
    display: none;
  }
  .goals-list {
    display: flex;
    flex-direction: column;
  }
  .icon-goals-list {
    display: none;
  }
  .icon-goals {
    display: none;
  }
  .goals-list-item {
    flex-basis: calc((100% - 216px) / 4);
  }
  .goals {
    text-align: center;
  }
}
.goals {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.goals-description {
  display: block;
  max-width: 396px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.goals-list {
  display: flex;
  gap: 72px;
}

/* =============================== TABLET ==============================*/
@media screen and (min-width: 768px) {
  .icon-goals-list {
    display: none;
  }
  .goals-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 72px;
    column-gap: 24px;
  }
  .goals-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

/* =============================== DESCTOP ==============================*/
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .icon-goals-list {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .goals-list {
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;
  }
}
.goals {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.goals-description {
  display: block;
  max-width: 396px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ==============================work examples=============================== */
/* =============================== DESCTOP ==============================*/
@media screen and (max-width: 1158px) {
  .work-examples-section {
    display: none;
  }
}
.work-examples-section {
  padding-bottom: 120px;
}

.work-examples-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.work-examples-list {
  display: flex;
  gap: 24px;
}

/* ==============================our team=============================== */
/* =============================== MOBILE ==============================*/

.our-team {
  background-color: #f4f4fd;
}

.our-team-list {
  max-width: 264px;
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin-left: auto;
  margin-right: auto;
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team-photo {
  display: block;
  max-width: 100%;
  height: auto;
}
.our-team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-card {
  padding: 32px 0;
}

.social-network-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-network-item {
  width: 40px;
  height: 40px;
}

.social-network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-link:hover,
.social-network-link:focus {
  background-color: #404bbf;
}

.social-network-icon {
  fill: #f4f4fd;
}
/* =============================== TABLET ==============================*/
@media screen and (min-width: 768px) {
  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 64px;
    max-width: 768px;
  }
}

/* =============================== DESCTOP ==============================*/
@media screen and (min-width: 1158px) {
  .our-team-list {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
    row-gap: 64px;
    max-width: 1158px;
  }
}

/* ==============================our clients=============================== */

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.customers-list-logo {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.customers-list {
  width: 168px;
  height: 88px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.icon-customers-list {
  fill: currentColor;
}

/* ==============================footer=============================== */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.logo-web-footer {
  color: #f4f4fd;
}

.footer-logo-link {
  margin-bottom: 16px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-description-container {
  margin-right: 120px;
}

.footer-social-network-conteiner {
  margin-right: 80px;
}

.social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-network-list-footer {
  display: flex;
  gap: 16px;
}

.social-network-item {
  width: 40px;
  height: 40px;
}

.footer-social-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-network-link:hover,
.footer-social-network-link:focus {
  background-color: #31d0aa;
}

.footer-social-network-icon {
  fill: #f4f4fd;
}

.subscribe-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-email-form {
  display: flex;
}

.footer-label-email {
  margin-right: 24px;
}

.footer-contact-form-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-contact-form-input::placeholder {
  color: #ffffff;
}

.footer-contact-form-input:focus,
.footer-contact-form-input:hover {
  outline: none;
  border: 1px solid #ffffff;
}

.subscribe-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #31d0aa;
}

.subscribe-icon-send {
  margin-left: 16px;
  fill: #ffffff;
}

.footer-subscribe-tex-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
/* ==============================backdrop=============================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.contact-form-field-wrapper {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.contact-form-input-item {
  margin-bottom: 8px;
}

.contact-form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contact-form-field-desc {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.contact-form-box {
  position: relative;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}

.contact-form-input:focus + .contact-form-input-icon {
  fill: #4d5ae5;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-bottom: 8px;
}

.contact-form-message {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.contact-form-message:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}

.contact-form-checkbox-wrapper {
  align-items: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.textarea-box {
  margin-bottom: 16px;
}

.textarea-item {
  margin-bottom: 24px;
}

.contact-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  fill: transparent;
}

.contact-form-checkbox:checked
  + .contact-form-checkbox-wrapper
  > .contact-form-own-checkbox
  > .contakt-form-checkmarc-icon {
  opacity: 1;
  border-color: #404bbf;
}

.contact-form-checkbox:checked
  + .contact-form-checkbox-wrapper
  > .contact-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
  border-color: #404bbf;
}

.contakt-form-checkmarc-icon {
  opacity: 0;
}

.privacy-policy {
  color: #4d5ae5;
}

.contact-form-submit {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit:hover,
.contact-form-submit:focus {
  background: #404bbf;
}

/* ==============================portfolio=============================== */

.main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background: #404bbf;
  border: 1px solid transparent;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.project-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.project-item {
  width: calc((100% - 48px) / 3);
}

.project-link {
  display: block;
  transition: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translate(0, 0);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* ==============================overlay============================== */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 40px 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transform: translate(0%, 100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
